<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to my first Ruby project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col-3">
        <ul>
          <li>About me</li>
          <li>How Ruby came to my life</li>
          <li><span>Projects I am interested in</span></li>
        </ul>

        </ul>
      </div>
      <div class="col-9">
        <span>Oi, meu nome é Júlia e esse é o meu site!</span>
        <img src="public/images/raiox.jpg">
      </div>
    </div>
  </body>
</html>
